<%- include("partials/header") %> 

<div class="jumbotron">
    <div class="container">
       <h1>Landing Page</h1>
<p>Welcome to YelpCamp</p>
<a class="btn btn-warning btn-md" href="/campgrounds">view all campground</a> 
    </div>
</div>
<%- include("partials/footer") %> 